
#top {
    position: relative;
    background-color: #F6F6F2;
    color: white;
    padding: 5px;
    border: 3px solid black;
    margin: 0px 0px 10px 0px;
     text-align:center;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    min-height:50px;
     height:auto !important;
     height:50px;
    border: 3px solid black; 
}

#left {
    float: left;
    background-color: #ece3a5;
    //padding: 5px;
    //width: 150px;
}

#right {
    float: right;
    background-color: white;
    padding: 5px;
    width: 330px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    //margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    //margin: 0px 170px 0px 170px;
    margin: 0px 350px 0px 0px;
    min-height:550px;
     height:auto !important;
     height:550px; 
     
     border-right: 2px solid black;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#center_div {
   border-style:solid;
}


